<div class="content-body">
  <div class ="country-content">
    <h1>Editing type_destination</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @type_destination %> |
    <%= link_to 'Back', type_destinations_path %>
  </div>
</div>