// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.country-content{
  background-color: #ffffff;
  height: auto;
  
 .links{
    margin-top: 20%;
    background-color: #f3f3f3;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
  }
  
  .links ul{
    list-style-type: none;
  }
  .links ul li{
    background-image: url(blue.png);
    background-repeat: no-repeat;
    background-position: 0px 5px; 
    padding-left: 20px; 
    text-align: left;
  }
}