// Place all the styles related to the Countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.country{
   background-color: #ffffff;
  
  .image-ecuador{
    width: 100%;
    height: 300px;
    
    img{
      width: 100%;
      height: 300px;
    }
  }
  .information{
    margin-top: 5%;
  }
  .geography{
    img{
      width: 100%;
      height: 100%;
    }
  }
}