// Place all the styles related to the DestinationList controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.destination_list{
  background-color: #ffffff;
     
    .select-destination{
      background-color: #990a5f;
      margin-top: 10%;
      width: 100%;
      height: 220px;
      
        .tabs-content{
        margin-left: -6%;
        width: 90%;
        } 
    }
  
    .filter-destination{
      background-color: #990a5f;
      margin-top: 10%;
      width: 100%;
      height: 155px;
      
      .tabs-content{
        margin-left: -6%;
        width: 90%;
     } 
   }
}