// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.country-content{
  background-color: #ffffff;
  
   .div-orbit{
      border: 3px solid #0e12a7;
      margin-top: 2%;
      width: 80%;
      height: 305px;
      
      img{
        width: 100%;
        height: 299px;
      }
    }
  .options{
    margin-top: 2%;
    
    img{
      height: 25px;
    }
  }
  .content-destination{
    margin-top: 3%;
  }
  
  .map-destination{
      border: 5px solid #990a5f;
      border-radius: 10px;
      margin-top: 4%;
      margin-bottom: 5%;
      width: 60%;
      height: auto;
  }
  
}