// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.country-content{
  background-color: #ffffff;
  height: auto;
  
  .rating{
    margin-top: 3%;
  }
 
  .content-destination{
    margin-top: 3%;
  }
  
  .map-destination{
      border: 5px solid #990a5f;
      border-radius: 10px;
      margin-top: 4%;
      margin-bottom: 5%;
      width: 70%;
      height: auto;
  }
  ul.social-share-list {
  li {
     list-style-type: none;
    display: inline;
    .twt {margin-right: -35px;margin-bottom: -5px;}
    .gp {margin-right: -33px;margin-bottom: -5px;}
    .pi {margin-right: -33px;margin-bottom: -5px;}
    .fb {margin-right: -33px;margin-bottom: -5px;}
  }
}
  li.rating_star {
  float:left;
  list-style: none;
  margin: 0;
  padding: 0; 
  width: 25px;
  height: 25px;
  background: url("star-off.png") top left;
} 

li.rating_star.on {
  background: url("star-on.png") 0 -25px;
} 
  
.average_rating{
    float: left;
    
  }
   .video{
    width: 80%;
    height: 300px;
    margin-bottom: 20%;
  }
  
}