// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-event{
   background-color: #ffffff;
  
  p{
    font-family: 'Open Sans', sans-serif;
     font-size: 1.1em;
  }
     
   .large-8 {
     padding-left: 4%;
   }
   #calendars{
      border: 5px solid #990a5f;
      border-radius: 10px;
      margin-top: 10%;
      width: 100%;
      height: auto;
    
    .fc-header-title h2 {
     font-size: 1.2em;
     white-space: normal !important;
     }
   }

  ul.social-share-list {
   li {
     list-style-type: none;
     display: inline;
    .twt {margin-right: 10px;margin-bottom: 5px;}
    .gp {margin-right:  10px;margin-bottom: 5px;}
    .pi {margin-right: 10px;margin-bottom: 5px;}
    .fb {margin-right: 10px;margin-bottom: 5px;}
    }
  }
  .image-event{
    img{
      width: 90%;
      height: 400px;
    }
  }
  .video{
    width: 90%;
    height: 300px;
    margin-bottom: 23%;

  }
  .description-event{
    margin-top: 4%;
    margin-bottom: 4%;
  }
}