// Place all the styles related to the Gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gallery{
   background-color: #ffffff;
  .row{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;

  .large-3{
  
    img{
      width: 100%;
      height: 120px;
      }
    }
  }
}