// Place all the styles related to the ListBlogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#parallax-header { 
	height:200px; background-color:gray; 
 }
#parallax {
	position:relative; overflow:hidden; width:90%; height:350px; margin-left:5%;
	background-image:url('ecuador-beach.jpg');
}
.parallax-viewport {
	position: relative;     /* relative, absolute, fixed */
	overflow: hidden;
}
.parallax-layer {
  position: absolute;}

.row{
  margin-top: 2%;
  margin-bottom: 2%;
  
  .blog{
    
      img{
       border-radius: 6px;
        height: 500px;
      }

     .blog-description{
      margin-top: 3%;

      h5{
        color: #0e12a7;
        font-family: 'Droid Sans', sans-serif;
      }
    }
  }
}