// Place all the styles related to the ListEvent controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#calendare{
  border: 3px solid #990a5f;
  border-radius: 5px;
  margin-top: 10%;
  width: 100%;
  
  
.fc-header-title h2 {
  font-size: 1.1em;
  white-space: normal !important;
  }
}

