// Place all the styles related to the ListEvent controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-event{
  background-color: #ffffff;
  height: 600px;
  
   #calendar{
      border: 5px solid #990a5f;
      border-radius: 10px;
      margin-top: 10%;
      width: 100%;
    
    .fc-header-title h2 {
     font-size: 0.2em;
     white-space: normal !important;
     }
   }
  
}
