// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.welcome{
   background-image: url("quito_2.jpg");
   background-repeat: no-repeat;
   background-size: 100% 600px;
}

body.destination_list{
   background-image: url("amazon.jpg");
   background-repeat: no-repeat;
   background-size: 100% 600px;
}

body.countries{
   background-image: url("penguin.jpg");
   background-repeat: no-repeat;
   background-size: 100% 600px;
}

body.destinations{
   background-image: url("quito_1.jpg");
   background-repeat: no-repeat;
   background-size: 100% 600px;
}

body.registrations{
   background-image: url("ecuador_2.jpg");
   background-repeat: no-repeat;
   background-size: 100% 600px;
}

body.sessions{
   background-image: url("chimborazo.jpg");
   background-repeat: no-repeat;
   background-size: 100% 600px;
}
/*======================= header ==================================*/

.header{  
   float: left;
   position: relative;
   height:auto;
   margin-left: 10%;
   margin-right: 10%;
 
}

.header-up{
  width: 100%;
  position: relative;
  float: left;
}
.logo{
     background-color: white;
     z-index: 1;
     position: absolute;
     height: 150px;
     width: 12%; 
     margin-left:2%;
     padding-left: 1%;
     padding-right:1%;
     padding-top: 1%;
     padding-bottom:1%;

    img{
     height: 130px;
     width: 100%; 
    }
  }

.other_menu{

  .top-bar{
     background-color: rgba(0,0,0,0.3);
    
    .top-bar-section{
        .social ul li a{
          padding-left: 3px;
          padding-right: 3px;
       }
       
    }
    
    .top-bar-section ul{
       background-color: rgba(0,0,0,0.3);
      
    }
    .top-bar-section ul li {
       background-color: rgba(0,0,0,0.3);
     }
    .top-bar-section ul li a{
      background-color: rgba(0,0,0,0.3);
      
    }
    .search{
      width: 90%;
    }
  }
 
}

.banner{
   position: relative;
   float: right;
   width: 40%; 
   height: 100px;
   margin-top: 1%;
   margin-bottom: 1%;
  
  img{
    width: 100%;
    height: 60px;
     } 
  
}

.menu{
  position: relative;
  width: 100%;
  float:left;
}

/*=======================content ==================================*/
.content{
  float: left;
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: auto;


    .book-destination{
      background-color: #990a5f;
      margin-top: 10%;
      width: 100%;
      height: 300px;
      color: #ffffff;
      
      .tabs-content{
        margin-left: -6%;
        width: 90%;
      }

    }
  
    .map{
      border: 5px solid #990a5f;
      border-radius: 10px;
      margin-top: 10%;
      width: 100%;
      height: 300px;
    
    }
    
    .calendar{
      margin-top: 10%;
      width: 100%;
      height: 300px;
      background-color: #ff0000;
     
    }
    .whats-on{
      margin-top: 10%;
      width: 100%;
      height: 300px;
      background-color: #ff0000;
    
    }
  
    .div-orbit{
      margin-top: 10%;
      width: 100%;
      height: 300px;
      
      img{
        width: 100%;
        height: 300px;
      }
    }
  
}

/*=======================footer==================================*/

.footer {
   position: relative;
   float:  left;
   background: #212D48;
   height: auto;
   line-height: 50px;
   color: #fff;
   text-align: center;
   width: 100%; 
}

/*============================Media Queries large screen=================*/
@media (max-width: 992px) {
  .header{  
   float: left;
   position: relative;
   height:auto;
   width: 84%;
   margin-left: 8%;
   margin-right: 8%;
    
     .logo{
       width: 15%; 
      img{
       height: 130px;
       width: 100%; 
      }
    }
   }
  
  .content{
  float: left;
  position: relative;
  width: 84%;
  margin-left: 8%;
  margin-right: 8%;
    
    .book-destination{
      background-color: #990a5f;
      margin-top: 10%;
      width: 100%;
      height: 300px;
      
      .tabs-content{
        margin-left: -2%;
        width: 90%;
      }
    }
  }
}

/*============================Media Queries style medium screen=================*/
@media screen and (max-width: 768px){
  .header{  
   float: left;
   position: relative;
   height:auto;
   width: 90%;
   margin-left: 5%;
   margin-right: 5%;
    
     .logo{
       width: 18%; 
      img{
       height: 130px;
       width: 100%; 
      }
    }
   }
  
  .content{
  float: left;
  position: relative;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
    
    .book-destination{
      background-color: #990a5f;
      margin-top: 10%;
      width: 100%;
      height: 300px;
      
      
      .tabs-content{
        margin-left: 1%;
        width: 90%;
      }
    }
  } 
}




/*============================Media Queries style small screen=================*/

@media screen and (max-width: 480px){
  .header{  
   float: left;
   position: relative;
   height:auto;
   width: 100%;
   margin-left: 0%;
   margin-right: 0%;
    
    .logo{
       width: 25%; 
      height: 126px;
      img{
       height: 120px;
       width: 100%; 
      }
    }
   }
  
  .content{
  float: left;
  position: relative;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  height: auto;
    
    .book-destination{
      background-color: #990a5f;
      margin-top: 10%;
      width: 100%;
      height: 300px;
      
      .tabs-content{
        margin-left: 6%;
        width: 90%;
      }
    }
  }
}



