<div class="content-body">
  <div class ="country-content">
    <h1>Editing type_activity</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @type_activity %> |
  <%= link_to 'Back', type_activities_path %>
  </div>
</div>