<div class="content-body">
  <div class= "plan-content">
    <h5><strong><%= t('.trip') %></strong></h5>
    <table>
      <%= render(plan.line_destinations) %>
    </table>
    <%= link_to t('.emptyPlan'), @plan, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny radius' %>
    <%= link_to t('.openPlan'), plan_path(@plan), class: 'button tiny radius' %>
  </div>
</div>