<footer class="footer">
  <div class="large-12 columns">
      <div class="row">
        <div class="large-4 columns">
          <p><a href="">Ecuador Travel</a> by Andrea Becerra</p>
        </div>
        <div class="large-4 columns">
          <p><%= link_to t('.about') %></p>
        </div>

        <div class="large-4 columns">
          <p><%= link_to t('.help') %></p>
        </div>
      </div>
    </div>
  </footer>